<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Word Counter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Barrio|Montserrat" rel="stylesheet">
    </head>
    <body>
        <div class="container card-block">
            <h1 id="title">Redundancy Check</h1>
            <h3>Don't want to overuse a word?</h3>

            <h5>Enter the text below and the word you're concerned about. We'll let you know if you need a thesuarus.</h5>

            <form id="count-init" action="/count" method="post">
                <div class="input-pos">
                    <div class="form-group">
                        <textarea class="form-control inputbox" name="string"  id="textarea" rows="3" placeholder="Enter your text here..."></textarea>
                    </div>
                    <input class="form-control inputbox" type="text" name="word" placeholder="Enter your word...">
                </div>
                <div class="redirect">
                    <button class="btn" type="submit" name="button">Run Check</button>
                </div>
            </form>
        </div>
    </body>
</html>
