<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your redundancies have been checked...</title>
    </head>
    <body>
        {% for results in result %}
          {{ results }}
        {% endfor %}
    </body>
</html>
